#login-form{
    width: 80%;
    margin: 5rem 2rem 0;
}

.input-login-form{
    font-size: 2rem;
    padding: 1rem 0;
    margin: 1rem 0 ;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(21,21,21, .5);
}

#email-login-label{
    display: none;
    font-size: 1.5rem;
    color: tomato;
}
#fail-login-msgbox{
    display: none;
    width: 70%;
    font-size: 1.7rem;
    padding: 1rem;
    margin: .8rem 0;
    transition: .7s;
    color: var(--dark-color);
}
.placeholder-login-fail::placeholder{color: tomato;}